*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 12px;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(23,24,24,1) 0%, rgba(253,187,45,1) 100%);
}

header{
    padding: 8px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 8px;
    border-bottom: 1px solid white;
}

header > div > p{
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

li{
    list-style: none;
    text-align: center;
}

a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

section{
    padding: 8px;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 16px;
}

section p{
    font-size: 1.6rem;
    text-align: center;
}

section h1{
    font-size: 3rem;
    text-align: center;
    color: white
}

button{
    justify-self: center;
    width: 50%;
    padding: 12px;
    color: white;
    border-radius: 20px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 1.5rem;
}
